<?xml version="1.0" encoding="UTF-8"?>
<configuration  debug="false" scan="true" scanPeriod="1 seconds">
    <contextName>api</contextName>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <!-- <PatternLayout pattern="%highlight{%d %p [%c] - &lt;%m&gt;%n}" /> -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{request_id}] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>


    <logger name="org.springframework.boot" level="INFO"/>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="org.apache.dubbo" level="ERROR"/>
    <logger name="io.github.trident.base.mapper" level="debug"/>
    <root level="INFO">
        <!--<appender-ref ref="file"/>-->
        <appender-ref ref="stdout"/>
    </root>

</configuration>
