// 主题色
$THEME_COLOR: #00bebe;

//
$ACTIVE_THEME_COLOR: #13abab;

// 块元素通用border色
$CUSTOM_BORDER_COLOR: #e8ecef;

// 字体颜色
$FONT_COLOR: #607080;
$FONT_COLOR_2: #515a6e; // 通用字体颜色

$BCAKGROUND_COLOR: #f8fafb;
$HOVER_BACKGROUND_COLOR: #f5f5f5;
